doctype html
html
  head
    title Bangazon Workforce Managament
  body
    include partials/nav.pug
    h1 Bangazon Workforce Management
    h2 #{globalWow}

  block content
    button#showLogin login
    button#showRegister register

    script
      include ../client/client.js
